/***********************************************************
                      GENERAL
***********************************************************/

/***********************************************************
                      HEADER
***********************************************************/
.my-book__container{
  margin: 0 auto;
  width: 1320px;
}
.header{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 1320px;
  position: fixed;
  height: 45px;
  background-color:  #2f364a;
}
.header__list{
  display: flex;
  justify-content: flex-end;
  margin: 0;
  align-items: center;
  height: 100%;
}
.header__item{
  display: flex;
  list-style: none;
  padding: 0 10px;
  height: 100%;
  align-items: center;
}
.user_item{
  background:  #15a4fa;
  width: 130px;
  height: 45px;
  border-top-right-radius: 5px;
}
.user_img{
  height: 30px;
  width: 30px;
  border-radius: 20px;
  border: 1px solid white;
}
.user_name{
  padding: 0 5px;
  color: white;
}
.header__link{
  font-family: ProximaNova, sans-serif;
  color:  rgba(120, 130, 157, 0.8);
  font-size: 13px;
  line-height: 35px;
  text-decoration: none;
  display: flex;
}
/***********************************************************
                      CONTENT
***********************************************************/
.content_container{
  height: 100%;
  padding: 45px 0;
  display: flex;
}
.aside{
  //background: #141824;
  width: 200px;
  height: 100%;
  background-color:  #1f2637;
}
.aside__list{
  padding: 5px 0;
  margin: 0;
  box-shadow:
    inset rgba(24, 30, 44, 0.8) 0 -5px 0px,
    inset rgba(252, 255, 255, 0.1) 0 2px 8px,
    rgba(0, 0, 0, 0.8) 0 0px 0px 0px
}
.aside__button-item{
  padding: 35px 20px;
}
.aside__radio:checked~label{background:#15a4fa; color:#fff}
.aside__radio[type="radio"]{
  display:none
}
.aside__item{
  list-style: none;
  height: 40px;
  align-items: center;
  display: flex;
}
.aside__alert-item{
  height: 130px;
}
.aside__alert-link{
  height: 130px;
}
.alert__icon{
  align-items: baseline !important;
}
.alert__text{
  font-size: 14px;
}
.aside__link{
  text-decoration: none;
  color: #eef1f7;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 20px;
}
.aside__icon{
  padding-right: 10px;
}
.circle_icon{
  font-size: 7px;
  padding: 5px 12px 5px 5px;
}
.add_book__button{
  border: none;
  border-radius: 4px;
  background-color:  #f2795a;
  width: 160px;
  height: 44px;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
}
.red{
  color: red;
}
.orange{
  color: #ffab00;
}
.blue{
  color: #00bfdd;
}
.violete{
  color: #7874cf;
}

.books__container{
  width: 1120px;
  height: 100px;
}
.books__layout{
  height: 120px;
  background:  #eef1f7;
  padding: 1px 0;
}
.books__label-title{
  border-bottom: 1px solid #dadfea;
  padding: 20px;
  margin: 0;
  color: #444c63;

}
.books__nav{
  height: 42px;
  border-top: 1px solid #f7f7f7;
}
.books-filter__list{
  display: flex;
  padding-left: 5px;
  margin: 7px 0;
  float: left;
}
.filter__button{
  cursor: pointer;
  padding: 5px 10px;
  margin: 0 5px;
}
.books-filter__item{
  list-style: none;
  display: flex;
}
.search{
  float: right;
  margin: 4px 15px;
}
.search_input{
  width: 340px;
  height: 30px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 1px solid rgba(140, 151, 178, 40);
  padding-left: 10px;
  border-right: none;
  outline:none;
}
.search__btn{
  height: 34px;
  width: 40px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px solid rgba(140, 151, 178, 40);
  border-left: none;
  background: white;
  outline:none;
  cursor: pointer;
}
.search-btn__icon{
  color: #8c97b2;
}
.filter__radio:checked~label{background:#97b3ce; color:#fff; border-radius: 15px;}
.filter__radio[type="radio"]{display:none}

/***********************************************************
                      FOOTER
***********************************************************/
.footer{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color:  #181e2c;
  width: 1320px;
  position: fixed;
  bottom: 0;
  height: 45px;
}
.footer__container{
  height: 100%;
}
.footer__list{
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.footer__item{
  height: 100%;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__cog_item{
  background: #15a4fa;
  border-bottom-right-radius: 5px;
}
.footer__link{
  color: white;
}
