<div class="my-book__container">
  <header class="header">
    <div class="header container">
      <ul class="header__list">
        <li class="header__item"><a class="header__link" href="">Help Center</a></li>
        <li class="header__item"><a class="header__link" href="">Our Support</a></li>
        <li class="header__item user_item">
          <a class="header__link" *ngFor="let user of users" href="">
            <img class="user_img" src="{{user.img}}"> <span class="user_name">{{user.name}}</span>
            <fa-icon class="user_name" [icon]="faArrowCircleDown"></fa-icon>
          </a>
        </li>
      </ul>
    </div>
  </header>

  <div class="content_container">
    <aside class="aside">
      <ul class="aside__list">
        <li class="aside__item aside__button-item">
          <button class="add_book__button"><fa-icon [icon]="faPlus"> </fa-icon> ADD A BOOK</button>
        </li>
      </ul>
      <ul class="aside__list">
        <li class="aside__item" *ngFor="let link of linksList">
          <input class="aside__radio" type="radio" name="radio" id="{{link.radio}}">
          <label for="{{link.radio}}" class="aside__link"><fa-icon class="aside__icon" [icon]="link.icon"></fa-icon> {{link.name}}</label>
        </li>
      </ul>
      <ul class="aside__list">
        <li class="aside__item" *ngFor="let link of linksTypes">
          <input class="aside__radio" type="radio" name="radio" id="{{link.radio2}}">
          <label for="{{link.radio2}}" class="aside__link" ><fa-icon class="aside__icon circle_icon  {{link.class}}" [icon]="link.icon"></fa-icon> {{link.name}}</label>
        </li>
      </ul>
      <ul class="aside__list">
        <li class="aside__item aside__alert-item" *ngFor="let alert of alerts">
          <div class="aside__link alert__icon"><fa-icon class="aside__icon" [icon]="alert.icon"></fa-icon>
            <div class="aside__alert-link">
              <p class="alert__text">{{alert.name}}</p>
              <p class="alert__text">{{alert.time}}</p>
            </div>
          </div>
        </li>
      </ul>
    </aside>

    <div class="books__container">
      <div class="books__layout">
        <h1 class="books__label-title">Browse Available Books</h1>
        <div class="books__nav">
          <ul class="books-filter__list">
            <li class="books-filter__item" *ngFor="let filter of filters">
              <input class="filter__radio" type="radio" name="radio" id="{{filter.filter1}}">
              <label for="{{filter.filter1}}" class="filter__button">{{filter.name}}</label>
            </li>
          </ul>
          <div class="search">
            <input class="search_input" type="text" placeholder="Enter Keywords">
            <button class="search__btn"><fa-icon class="search-btn__icon" [icon]="faSearch"></fa-icon></button>
          </div>
        </div>
      </div>

      <div class="content">
        <app-books
          *ngFor="let book of books"
          [book_author]="book.name"
          [book_name]="book.author"
          [book_image]="book.img"
          [book_id]="book.id"
          [book_rating]="book.rating"
        >
        </app-books>
      </div>

    </div>
  </div>

  <footer class="footer">
    <div class="footer__container">
      <ul class="footer__list">
        <li class="footer__item">
          <a class="footer__link" href=""><fa-icon [icon]="faQuestionCircle"></fa-icon></a>
        </li>
        <li class="footer__item footer__cog_item">
          <a class="footer__link" href=""><fa-icon [icon]="faCog"></fa-icon></a>
        </li>
      </ul>
    </div>
  </footer>
</div>
