
.rating {
  float:left;
}

.rating > input {
  position:absolute;
  top:-9999px;
  clip:rect(0,0,0,0);
}

.rating label {
  float: right;
  width: 15px;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 100%;
  line-height: 1;
  color: #ddd;
}

.rating label:before {
  content: '★ ';
}

.rating label.checked {
  color: #f70;
}

.rating label:hover,
.rating label:hover ~ label {
  color: gold;
}

.rating > label:hover {
  color: #ea0;
}
